# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store
*.pem

# VSCode
.vscode/

# Env files
.env
.env*.local

# TypeScript
*.tsbuildinfo

*.dll
*.aar
*.map
*.node
android/
ios/
build/
